In [1]:
import pandas as pd
import numpy as np

In [2]:
# Before 1960
df = pd.read_html("https://en.wikipedia.org/wiki/List_of_Malayalam_films_before_1960",
                      match = 'Screenplay')

In [3]:
a = df[0]

In [4]:
a.columns = ["Film","year","Director","story","Screenplay","Cast"]

In [5]:
a['Genre'] = np.NaN
a['Music'] = np.NaN

In [6]:
a = a[["Film","Director","Cast",'Genre','Music',"year"]]

In [12]:
b = df[1]

In [13]:
b = b[["Movie",'Main actors','Direction','Date','Music']]

In [14]:
b['Genre'] = np.NaN

/home/ug/anaconda3/envs/my_env/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [15]:
def f1(row):
    a = str(row['Date'])[-4:]
    return a

In [16]:
b["year"] = b.apply(f1,axis = 1)

/home/ug/anaconda3/envs/my_env/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [17]:
b = b[["Movie",'Direction','Main actors','Genre','Music','year']]

In [18]:
a.columns

Index(['Film', 'Director', 'Cast', 'Genre', 'Music', 'year'], dtype='object')

In [22]:
b.columns

Index(['Film', 'Director', 'Cast', 'Genre', 'Music', 'year'], dtype='object')

In [20]:
b.columns = a.columns

In [21]:
b

,Film,Director,Cast,Genre,Music,year
0,Nalla Thanka,P. V. Krishna Iyer,"Augustine Joseph, Vaikom Mani, Miss Kumari, Mi...",NaN,NaN,1950
1,Chechi,T. Janaki Ram,NaN,NaN,NaN,1950
2,Sasidharan,T. Janaki Ram,NaN,NaN,NaN,1950
3,Sthree,R. Velappan Nair,Thikkurissi Sukumaran Nair Vaikom M. P. Mani,NaN,NaN,1950
4,Prasanna,Sri Ramalu Naidu,NaN,NaN,NaN,1950
...,...,...,...,...,...,...
58,Lilly,F. Nagoor,"Prem Nazir, Shanthi, Kumari Thankam",NaN,Viswanathan–Ramamoorthy,1958
59,Aana Valarthiya Vanampadi,P. Subramaniam,"Miss Kumari (double role), Thikkurissi Sukumar...",NaN,NaN,1959
60,Minnalppadayaali,G. Viswanath,"Sathyan, Lalitha",NaN,NaN,1959
61,Chathurangam,J. D. Thottan,Prem Nazir,NaN,NaN,1959
62,Naadodikal,S. Ramanathan,"Premnavaz, Ambika (old)",NaN,NaN,1959

In [23]:
df_60s = pd.concat([a,b],ignore_index = True,sort = False)

In [24]:
df_60s

,Film,Director,Cast,Genre,Music,year
0,Vigathakumaran,J. C. Daniel,"J. C. Daniel, P. K. Rosy",NaN,NaN,1928
1,Marthanda Varma,P. V. Rao,"Jaidev, A. V. P. Menon, Devaki, Padmini",NaN,NaN,1933
2,Balan,S. Nottani,"K. K. Aroor, Alleppey Vincent, M. K. Kamalam",NaN,NaN,1938
3,Gnanambika,S. Nottani,NaN,NaN,NaN,1940
4,Prahlada,K. Subramanyam,"Guru Gopinath, Thankamani Gopinath, Kumari Lak...",NaN,NaN,1941
...,...,...,...,...,...,...
65,Lilly,F. Nagoor,"Prem Nazir, Shanthi, Kumari Thankam",NaN,Viswanathan–Ramamoorthy,1958
66,Aana Valarthiya Vanampadi,P. Subramaniam,"Miss Kumari (double role), Thikkurissi Sukumar...",NaN,NaN,1959
67,Minnalppadayaali,G. Viswanath,"Sathyan, Lalitha",NaN,NaN,1959
68,Chathurangam,J. D. Thottan,Prem Nazir,NaN,NaN,1959
69,Naadodikal,S. Ramanathan,"Premnavaz, Ambika (old)",NaN,NaN,1959

In [25]:
df_60s['year'].unique()

array([1928, 1933, 1938, 1940, 1941, 1948, 1949, '1950', '1951', '1952',
       '1953', '1954', '1955', '1956', '1957', '1958', '1959'],
      dtype=object)

In [32]:
1990-1960

30

In [44]:
one_list = []
for i in range(0,31):
    df = pd.read_html("https://en.wikipedia.org/wiki/List_of_Malayalam_films_of_"+str(1960+i),
                      match = 'Film')
    print(len(df))
    if len(df)>1:
        for j in range(0,len(df)):
            if 'Original film' not in df[j].columns:
                if 'Cast' in df[j].columns:
                    if "Basic Language" not in df[j].columns:
                        k = df[j]
        df = k
        if "Music Director" in df.columns:
            if "Genre" not in df.columns:
                df['Genre'] = np.NaN
                df = df[['Film', 'Director', 'Cast','Genre', 'Music Director']]
                df.columns = ['Film', 'Director', 'Cast','Genre', 'Music']
                df['year'] = 1960+i
                print(1960+i)
                print(df.columns)
            else:
                df = df[['Film', 'Director', 'Cast','Genre', 'Music Director']]
                df.columns = ['Film', 'Director', 'Cast','Genre', 'Music']
                df['year'] = 1960+i
                print(1960+i)
                print(df.columns) 
        elif "Music" not in df.columns:
            if "Genre" not in df.columns:
                df['Genre'] = np.NaN
                df['Music'] = np.NaN
                df = df[['Film', 'Director', 'Cast','Genre', 'Music']]
                df['year'] = 1960+i
                print(1960+i)
                print(df.columns)
            else:
                df['Music'] = np.NaN
                df = df[['Film', 'Director', 'Cast','Genre', 'Music']]
                df['year'] = 1960+i
                print(1960+i)
                print(df.columns)
        elif "Genre" not in df.columns:
            df['Genre'] = np.NaN
            df = df[['Film', 'Director', 'Cast','Genre', 'Music']]
            df['year'] = 1960+i
            print(1960+i)
            print(df.columns)
        else:
            try:
                df = df[['Film', 'Director', 'Cast','Genre', 'Music director']]
                df.columns = ['Film', 'Director', 'Cast','Genre', 'Music']
                df['year'] = 1960+i
                print(1960+i)
                print(df.columns)
            except:
                df = df[['Film', 'Director', 'Cast','Genre', 'Music']]
                df['year'] = 1960+i
                print(1960+i)
                print(df.columns)
    else:
        df = df[0]
        if "Music Director" in df.columns:
            if "Genre" not in df.columns:
                df['Genre'] = np.NaN
                df = df[['Film', 'Director', 'Cast','Genre', 'Music Director']]
                df.columns = ['Film', 'Director', 'Cast','Genre', 'Music']
                df['year'] = 1960+i
                print(1960+i)
                print(df.columns)
            else:
                df = df[['Film', 'Director', 'Cast','Genre', 'Music Director']]
                df.columns = ['Film', 'Director', 'Cast','Genre', 'Music']
                df['year'] = 1960+i
                print(1960+i)
                print(df.columns) 
        elif "Music" not in df.columns:
            if "Genre" not in df.columns:
                df['Genre'] = np.NaN
                df['Music'] = np.NaN
                df = df[['Film', 'Director', 'Cast','Genre', 'Music']]
                df['year'] = 1960+i
                print(1960+i)
                print(df.columns)
            else:
                df['Music'] = np.NaN
                df = df[['Film', 'Director', 'Cast','Genre', 'Music']]
                df['year'] = 1960+i
                print(1960+i)
                print(df.columns)
        elif "Genre" not in df.columns:
            df['Genre'] = np.NaN
            df = df[['Film', 'Director', 'Cast','Genre', 'Music']]
            df['year'] = 1960+i
            print(1960+i)
            print(df.columns)
        else:
            try:
                df = df[['Film', 'Director', 'Cast','Genre', 'Music director']]
                df.columns = ['Film', 'Director', 'Cast','Genre', 'Music']
                df['year'] = 1960+i
                print(1960+i)
                print(df.columns)
            except:
                df = df[['Film', 'Director', 'Cast','Genre', 'Music']]
                df['year'] = 1960+i
                print(1960+i)
                print(df.columns)
        #print(df.columns)
    one_list.append(df)
    #print(1960+i)

1
1960
Index(['Film', 'Director', 'Cast', 'Genre', 'Music', 'year'], dtype='object')
1
1961
Index(['Film', 'Director', 'Cast', 'Genre', 'Music', 'year'], dtype='object')
2
1962
Index(['Film', 'Director', 'Cast', 'Genre', 'Music', 'year'], dtype='object')

/home/ug/anaconda3/envs/my_env/lib/python3.7/site-packages/ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

1
1963
Index(['Film', 'Director', 'Cast', 'Genre', 'Music', 'year'], dtype='object')
1
1964
Index(['Film', 'Director', 'Cast', 'Genre', 'Music', 'year'], dtype='object')
1
1965
Index(['Film', 'Director', 'Cast', 'Genre', 'Music', 'year'], dtype='object')
1
1966
Index(['Film', 'Director', 'Cast', 'Genre', 'Music', 'year'], dtype='object')
1
1967
Index(['Film', 'Director', 'Cast', 'Genre', 'Music', 'year'], dtype='object')
1
1968
Index(['Film', 'Director', 'Cast', 'Genre', 'Music', 'year'], dtype='object')
1
1969
Index(['Film', 'Director', 'Cast', 'Genre', 'Music', 'year'], dtype='object')
1
1970
Index(['Film', 'Director', 'Cast', 'Genre', 'Music', 'year'], dtype='object')
1
1971
Index(['Film', 'Director', 'Cast', 'Genre', 'Music', 'year'], dtype='object')
1
1972
Index(['Film', 'Director', 'Cast', 'Genre', 'Music', 'year'], dtype='object')
1
1973
Index(['Film', 'Director', 'Cast', 'Genre', 'Music', 'year'], dtype='object')
1
1974
Index(['Film', 'Director', 'Cast', 'Genre', 'Music', 'year'], dtype='object')
1
1975
Index(['Film', 'Director', 'Cast', 'Genre', 'Music', 'year'], dtype='object')
1
1976
Index(['Film', 'Director', 'Cast', 'Genre', 'Music', 'year'], dtype='object')
1
1977
Index(['Film', 'Director', 'Cast', 'Genre', 'Music', 'year'], dtype='object')
1
1978
Index(['Film', 'Director', 'Cast', 'Genre', 'Music', 'year'], dtype='object')
1
1979
Index(['Film', 'Director', 'Cast', 'Genre', 'Music', 'year'], dtype='object')
2
1980
Index(['Film', 'Director', 'Cast', 'Genre', 'Music', 'year'], dtype='object')

/home/ug/anaconda3/envs/my_env/lib/python3.7/site-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

2
1981
Index(['Film', 'Director', 'Cast', 'Genre', 'Music', 'year'], dtype='object')
1
1982
Index(['Film', 'Director', 'Cast', 'Genre', 'Music', 'year'], dtype='object')
2
1983
Index(['Film', 'Director', 'Cast', 'Genre', 'Music', 'year'], dtype='object')
1
1984
Index(['Film', 'Director', 'Cast', 'Genre', 'Music', 'year'], dtype='object')
2
1985
Index(['Film', 'Director', 'Cast', 'Genre', 'Music', 'year'], dtype='object')
1
1986
Index(['Film', 'Director', 'Cast', 'Genre', 'Music', 'year'], dtype='object')
1
1987
Index(['Film', 'Director', 'Cast', 'Genre', 'Music', 'year'], dtype='object')
1
1988
Index(['Film', 'Director', 'Cast', 'Genre', 'Music', 'year'], dtype='object')
1
1989
Index(['Film', 'Director', 'Cast', 'Genre', 'Music', 'year'], dtype='object')
2
1990
Index(['Film', 'Director', 'Cast', 'Genre', 'Music', 'year'], dtype='object')

In [45]:
df6090 = pd.concat(one_list,ignore_index = True,sort = False)

In [48]:
df6090.columns = ['Title', 'Director', 'Cast', 'Genre', 'Music', 'year']

In [49]:
df6090

,Title,Director,Cast,Genre,Music,year
0,Umma,Kunchacko,"Thikkurissy Sukumaran Nair, B. S. Saroja",NaN,NaN,1960
1,Poothali,P. Subramaniam,Thikkurissi Sukumaran Nair,NaN,NaN,1960
2,Seeta,Kunchacko,"Prem Nazir, Kushalakumari",NaN,NaN,1960
3,Sthreehridayam,JD Thottan,"Pappukutty Bhagavathar, T. S. Muthaiah, Ambika",NaN,NaN,1960
4,Neeli Saali,Kunchacko,"Boban Kunchacko, Bahadoor, Vilasini",NaN,NaN,1960
...,...,...,...,...,...,...
1982,Ponnaranjanam,P. R. S. Babu,NaN,NaN,NaN,1990
1983,Kouthuka Varthakal,Thulasidas,"Suresh Gopi, Mukesh, Ranjini",NaN,NaN,1990
1984,Saandhram,Ashokan-Thaha,"Suresh Gopi, Parvathy, Innocent",NaN,NaN,1990
1985,Kuruppinte Kanakku Pustakom,Balachandra Menon,"Balachandra Menon, Geetha, Jayaram",NaN,NaN,1990
1986,Marupuram,Viji Thampi,"Jayaram, Mukesh, Urvashi, Sukumaran",NaN,NaN,1990

In [63]:
one_list = []

for i in range(0,62):
    df = pd.read_html("https://en.wikipedia.org/wiki/List_of_Malayalam_films_of_"+str(1960+i),
                      match = 'Director')
    
    df = df[0]
    if len(df.columns) > 5:
        if "Film" in df.columns:
            if 'Genre' in df.columns:
                try:
                    df = df[['Film', 'Cast', 'Director','Genre','Music director']]
                    df['year'] = 1960+i
                    print(df.columns)
                    print(1960+i)
                except :
                    df = df[['Film', 'Cast', 'Director','Genre','Music Director']]
                    df.columns = ['Film', 'Cast', 'Director','Genre','Music director']
                    df['year'] = 1960+i
                    print(df.columns)
                    print(1960+i)
            else:
                try :
                    df['Genre'] = np.NaN
                    df = df[['Film', 'Cast', 'Director','Genre','Music director']]
                    df['year'] = 1960+i
                    print(df.columns)
                    print(1960+i)
                except :
                    df['Genre'] = np.NaN
                    df = df[['Film', 'Cast', 'Director','Genre','Music Director']]
                    df.columns = ['Film', 'Cast', 'Director','Genre','Music director']
                    df['year'] = 1960+i
                    print(df.columns)
                    print(1960+i)
        else :
            if 'Genre' not in df.columns:
                df['Genre'] = np.NaN
                df["Music director"] = np.NaN
                df = df[['Title', 'Cast', 'Director','Genre','Music director']]
                df.columns = ['Film', 'Cast', 'Director','Genre','Music director']
                df['year'] = 1960+i
                print(df.columns)
                print(1960+i)
            else:
                df["Music director"] = np.NaN
                df = df[['Title', 'Cast', 'Director','Genre','Music director']]
                df.columns = ['Film', 'Cast', 'Director','Genre','Music director']
                df['year'] = 1960+i
                print(df.columns)
                print(1960+i)
                
    elif len(df.columns) == 4 :
        if 'Genre' in df.columns:
            try:
                df["Music director"] = np.NaN
                df = df[['Film', 'Cast', 'Director','Genre','Music director']]
                df['year'] = 1960+i
                print(df.columns)
                print(1960+i)
            except:
                df["Music director"] = np.NaN
                df = df[['Title', 'Cast', 'Director','Genre','Music director']]
                df.columns = ['Film', 'Cast', 'Director','Genre','Music director']
                df['year'] = 1960+i
                print(df.columns)
                print(1960+i)
        else:
            try:
                df["Music director"] = np.NaN
                df['Genre'] = np.NaN
                df = df[['Film', 'Cast', 'Director','Genre','Music director']]
                df['year'] = 1960+i
                print(df.columns)
                print(1960+i)
            except:
                df["Music director"] = np.NaN
                df['Genre'] = np.NaN
                df = df[['Title', 'Cast', 'Director','Genre','Music director']]
                df.columns = ['Film', 'Cast', 'Director','Genre','Music director']
                df['year'] = 1960+i
                print(df.columns)
                print(1960+i)
    elif len(df.columns) == 5:
        if 'Genre' in df.columns:
            try :
                df["Music director"] = np.NaN
                df = df[['Title', 'Cast', 'Director','Genre','Music director']]
                df.columns = ['Film', 'Cast', 'Director','Genre','Music director']
                df['year'] = 1960+i
                print(df.columns)
                print(1960+i)
            except :
                df["Film"] = df['Title']
                df["Music director"] = np.NaN
                df = df[['Film', 'Cast', 'Director','Genre','Music director']]
                df['year'] = 1960+i
                print(df.columns)
                print(1960+i)
        else:
            try :
                df['Genre'] = np.NaN
                df["Music director"] = np.NaN
                df = df[['Title', 'Cast', 'Director','Genre','Music director']]
                df.columns = ['Film', 'Cast', 'Director','Genre','Music director']
                df['year'] = 1960+i
                print(df.columns)
                print(1960+i)
            except :
                df['Genre'] = np.NaN
                df["Film"] = df['Title']
                df["Music director"] = np.NaN
                df = df[['Film', 'Cast', 'Director','Genre','Music director']]
                df['year'] = 1960+i
                print(df.columns)
                print(1960+i)
    one_list.append(df)

Index(['Film', 'Cast', 'Director', 'Genre', 'Music director', 'year'], dtype='object')
1960
Index(['Film', 'Cast', 'Director', 'Genre', 'Music director', 'year'], dtype='object')
1961
Index(['Film', 'Cast', 'Director', 'Genre', 'Music director', 'year'], dtype='object')
1962
Index(['Film', 'Cast', 'Director', 'Genre', 'Music director', 'year'], dtype='object')
1963
Index(['Film', 'Cast', 'Director', 'Genre', 'Music director', 'year'], dtype='object')
1964
Index(['Film', 'Cast', 'Director', 'Genre', 'Music director', 'year'], dtype='object')
1965
Index(['Film', 'Cast', 'Director', 'Genre', 'Music director', 'year'], dtype='object')
1966
Index(['Film', 'Cast', 'Director', 'Genre', 'Music director', 'year'], dtype='object')
1967
Index(['Film', 'Cast', 'Director', 'Genre', 'Music director', 'year'], dtype='object')
1968

/home/ug/anaconda3/envs/my_env/lib/python3.7/site-packages/ipykernel_launcher.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Index(['Film', 'Cast', 'Director', 'Genre', 'Music director', 'year'], dtype='object')
1969
Index(['Film', 'Cast', 'Director', 'Genre', 'Music director', 'year'], dtype='object')
1970
Index(['Film', 'Cast', 'Director', 'Genre', 'Music director', 'year'], dtype='object')
1971
Index(['Film', 'Cast', 'Director', 'Genre', 'Music director', 'year'], dtype='object')
1972
Index(['Film', 'Cast', 'Director', 'Genre', 'Music director', 'year'], dtype='object')
1973
Index(['Film', 'Cast', 'Director', 'Genre', 'Music director', 'year'], dtype='object')
1974
Index(['Film', 'Cast', 'Director', 'Genre', 'Music director', 'year'], dtype='object')
1975
Index(['Film', 'Cast', 'Director', 'Genre', 'Music director', 'year'], dtype='object')
1976
Index(['Film', 'Cast', 'Director', 'Genre', 'Music director', 'year'], dtype='object')
1977
Index(['Film', 'Cast', 'Director', 'Genre', 'Music director', 'year'], dtype='object')
1978
Index(['Film', 'Cast', 'Director', 'Genre', 'Music director', 'year'], dtype='object')
1979
Index(['Film', 'Cast', 'Director', 'Genre', 'Music director', 'year'], dtype='object')
1980
Index(['Film', 'Cast', 'Director', 'Genre', 'Music director', 'year'], dtype='object')
1981
Index(['Film', 'Cast', 'Director', 'Genre', 'Music director', 'year'], dtype='object')
1982
Index(['Film', 'Cast', 'Director', 'Genre', 'Music director', 'year'], dtype='object')
1983
Index(['Film', 'Cast', 'Director', 'Genre', 'Music director', 'year'], dtype='object')
1984
Index(['Film', 'Cast', 'Director', 'Genre', 'Music director', 'year'], dtype='object')
1985
Index(['Film', 'Cast', 'Director', 'Genre', 'Music director', 'year'], dtype='object')
1986
Index(['Film', 'Cast', 'Director', 'Genre', 'Music director', 'year'], dtype='object')
1987
Index(['Film', 'Cast', 'Director', 'Genre', 'Music director', 'year'], dtype='object')
1988
Index(['Film', 'Cast', 'Director', 'Genre', 'Music director', 'year'], dtype='object')
1989
Index(['Film', 'Cast', 'Director', 'Genre', 'Music director', 'year'], dtype='object')
1990
Index(['Film', 'Cast', 'Director', 'Genre', 'Music director', 'year'], dtype='object')
1991
Index(['Film', 'Cast', 'Director', 'Genre', 'Music director', 'year'], dtype='object')
1992
Index(['Film', 'Cast', 'Director', 'Genre', 'Music director', 'year'], dtype='object')
1993
Index(['Film', 'Cast', 'Director', 'Genre', 'Music director', 'year'], dtype='object')
1994
Index(['Film', 'Cast', 'Director', 'Genre', 'Music director', 'year'], dtype='object')
1995
Index(['Film', 'Cast', 'Director', 'Genre', 'Music director', 'year'], dtype='object')
1996
Index(['Film', 'Cast', 'Director', 'Genre', 'Music director', 'year'], dtype='object')
1997
Index(['Film', 'Cast', 'Director', 'Genre', 'Music director', 'year'], dtype='object')
1998
Index(['Film', 'Cast', 'Director', 'Genre', 'Music director', 'year'], dtype='object')
1999
Index(['Film', 'Cast', 'Director', 'Genre', 'Music director', 'year'], dtype='object')
2000
Index(['Film', 'Cast', 'Director', 'Genre', 'Music director', 'year'], dtype='object')
2001
Index(['Film', 'Cast', 'Director', 'Genre', 'Music director', 'year'], dtype='object')
2002
Index(['Film', 'Cast', 'Director', 'Genre', 'Music director', 'year'], dtype='object')
2003
Index(['Film', 'Cast', 'Director', 'Genre', 'Music director', 'year'], dtype='object')
2004
Index(['Film', 'Cast', 'Director', 'Genre', 'Music director', 'year'], dtype='object')
2005
Index(['Film', 'Cast', 'Director', 'Genre', 'Music director', 'year'], dtype='object')
2006
Index(['Film', 'Cast', 'Director', 'Genre', 'Music director', 'year'], dtype='object')
2007
Index(['Film', 'Cast', 'Director', 'Genre', 'Music director', 'year'], dtype='object')
2008

/home/ug/anaconda3/envs/my_env/lib/python3.7/site-packages/ipykernel_launcher.py:65: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Index(['Film', 'Cast', 'Director', 'Genre', 'Music director', 'year'], dtype='object')
2009
Index(['Film', 'Cast', 'Director', 'Genre', 'Music director', 'year'], dtype='object')
2010
Index(['Film', 'Cast', 'Director', 'Genre', 'Music director', 'year'], dtype='object')
2011
Index(['Film', 'Cast', 'Director', 'Genre', 'Music director', 'year'], dtype='object')
2012
Index(['Film', 'Cast', 'Director', 'Genre', 'Music director', 'year'], dtype='object')
2013
Index(['Film', 'Cast', 'Director', 'Genre', 'Music director', 'year'], dtype='object')
2014
Index(['Film', 'Cast', 'Director', 'Genre', 'Music director', 'year'], dtype='object')
2015
Index(['Film', 'Cast', 'Director', 'Genre', 'Music director', 'year'], dtype='object')
2016
Index(['Film', 'Cast', 'Director', 'Genre', 'Music director', 'year'], dtype='object')
2017
Index(['Film', 'Cast', 'Director', 'Genre', 'Music director', 'year'], dtype='object')
2018
Index(['Film', 'Cast', 'Director', 'Genre', 'Music director', 'year'], dtype='object')
2019
Index(['Film', 'Cast', 'Director', 'Genre', 'Music director', 'year'], dtype='object')
2020
Index(['Film', 'Cast', 'Director', 'Genre', 'Music director', 'year'], dtype='object')
2021

In [64]:
df6021 = pd.concat(one_list,ignore_index = True, sort = False)

In [65]:
df6021

,Film,Cast,Director,Genre,Music director,year
0,Umma,"Thikkurissy Sukumaran Nair, B. S. Saroja",Kunchacko,NaN,M. S. Baburaj,1960
1,Poothali,Thikkurissi Sukumaran Nair,P. Subramaniam,NaN,Br Lakshmanan,1960
2,Seeta,"Prem Nazir, Kushalakumari",Kunchacko,NaN,V. Dakshinamoorthy,1960
3,Sthreehridayam,"Pappukutty Bhagavathar, T. S. Muthaiah, Ambika",JD Thottan,NaN,LPR Varma,1960
4,Neeli Saali,"Boban Kunchacko, Bahadoor, Vilasini",Kunchacko,NaN,K. Raghavan,1960
...,...,...,...,...,...,...
4800,One,"Mammootty, Nimisha Sajayan, Balachandra Menon,...",Santhosh Vishwanath,NaN,NaN,2021
4801,Chiri,"Joe John Chacko, Vishak Nair, Aneesh Gopal",Joseph P Krishna,NaN,NaN,2021
4802,Innu Muthal,"Siju Wilson, Indrans,Smrithi Sugathan",Rejjish Midhila,NaN,NaN,2021
4803,Chachaji,"Abdul Rahim, Surabhi Lakshmi, Balaji Sharma",M Hajamoinu,NaN,NaN,2021
4804,NaN,NaN,NaN,NaN,NaN,2021

In [66]:
df6021 = df6021[df6021['Film'].notna()]
df6021 = df6021.reset_index(drop = True)

In [67]:
df6021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4796 entries, 0 to 4795
Data columns (total 6 columns):
Film              4796 non-null object
Cast              4440 non-null object
Director          4522 non-null object
Genre             983 non-null object
Music director    1937 non-null object
year              4796 non-null int64
dtypes: int64(1), object(5)
memory usage: 224.9+ KB

In [72]:
df6021.columns = ['Film', 'Cast', 'Director', 'Genre', 'Music', 'year']

In [73]:
mollywood = pd.concat([df_60s,df6021],ignore_index = True, sort = False)

In [74]:
mollywood

,Film,Director,Cast,Genre,Music,year
0,Vigathakumaran,J. C. Daniel,"J. C. Daniel, P. K. Rosy",NaN,NaN,1928
1,Marthanda Varma,P. V. Rao,"Jaidev, A. V. P. Menon, Devaki, Padmini",NaN,NaN,1933
2,Balan,S. Nottani,"K. K. Aroor, Alleppey Vincent, M. K. Kamalam",NaN,NaN,1938
3,Gnanambika,S. Nottani,NaN,NaN,NaN,1940
4,Prahlada,K. Subramanyam,"Guru Gopinath, Thankamani Gopinath, Kumari Lak...",NaN,NaN,1941
...,...,...,...,...,...,...
4861,Biriyaani,Sajin Baabu,"Kani Kusruthi, Anil Nedumangad, Surjith Gopina...",NaN,NaN,2021
4862,One,Santhosh Vishwanath,"Mammootty, Nimisha Sajayan, Balachandra Menon,...",NaN,NaN,2021
4863,Chiri,Joseph P Krishna,"Joe John Chacko, Vishak Nair, Aneesh Gopal",NaN,NaN,2021
4864,Innu Muthal,Rejjish Midhila,"Siju Wilson, Indrans,Smrithi Sugathan",NaN,NaN,2021
4865,Chachaji,M Hajamoinu,"Abdul Rahim, Surabhi Lakshmi, Balaji Sharma",NaN,NaN,2021

In [75]:
mollywood = mollywood[['Film', 'Director','Cast','Genre', 'Music','year']]

In [76]:
mollywood.columns = ['Title', 'Director','Cast','Genre', 'Music','year']

In [77]:
mollywood.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4866 entries, 0 to 4865
Data columns (total 6 columns):
Title       4866 non-null object
Director    4591 non-null object
Cast        4492 non-null object
Genre       983 non-null object
Music       1949 non-null object
year        4866 non-null object
dtypes: object(6)
memory usage: 228.2+ KB

In [78]:
mollywood['language'] = "Malayalam"
mollywood['industry'] = "Mollywood"

In [79]:
mollywood = mollywood.drop_duplicates()
mollywood = mollywood.reset_index(drop = True)

In [80]:
mollywood.to_csv("Mollywood_movies.csv",header =  True,index = False)